BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
AlignConsecutiveMacros: true
BraceWrapping:
  AfterEnum: true
